*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

#titulo {
    color: #5D8043;
    font-size: 40px;
}

p {
    color: #5D8043;
    font-size: 20px;
}

#mensagem {
    color: #9B3D3D;
    font-size: 14px;
    font-weight: lighter;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #C1D79E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#box {
    background-color: #F3F1CB;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 4px 10px #00000049;
    width: 720px;
    height: 560px;
    text-align: center;
}

#box > form > label {
    display: block;
    margin: 15px 0px 5px;
    color: #5D8043;
    text-align: left;
    font-weight: 550;
    font-size: 20px;
}

#box > form > input {
    width: 100%;
    padding: 10px;
    border: 1px solid #5D8043;
    border-radius: 10px;
    background-color: #F3F1CB;
    font-size: 14px;
}

#upload-area {
    border: 1px solid #5D8043;
    border-radius: 16px;
    padding: 60px;
    margin-top: 10px;
    background-color: #F3F1CB;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #5D8043;
    font-size: 16px;
    font-weight: 500;
}

#upload-area:hover {
    background-color: #f3f1cb6f;
}

#upload-area > p {
    margin: 0;
    padding-bottom: 10px;
}

#upload-area > img {
    width: 40px;
    height: 40px;
    opacity: 0.7;
}

#box > form > button {
    margin: 40px 0px 5px;
    background-color: #5D8043;
    color: #F4F1CC;
    padding: 12px;
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    width: 100px;
    height: 35px;
    text-align: center;
}

#box > form > button:hover {
    background-color: #A7BF77;
    cursor: alias;
}

#box > #image {
    height: 100px;
}
