*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

body{
    background-color: #F3F1CB;
}


h1{
    color: #5D8043;
    font-weight: bolder;
    font-size: 46px;
    margin: 40px;  
    text-align: center;
}

#botao_editar, #botao_excluir{
    color: #F4F1CC;
    padding: 12px;
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

 #botao_editar{
    background-color: #5D8043;
}

 #botao_editar:hover{
    background-color: #A7BF77;
}

#botao_excluir {
    background-color: #9B3D3D;
}

#botao_excluir:hover {
    background-color: #A74A3A;
}

#botoes_editar_excluir{
    display: flex;
    justify-content: center;
}

#botao_excluir, #botao_editar {
    margin: 20px;
} 