*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

body{
    background-color: #F3F1CB;
}

#cabecalho{
    background-color: #A7BF77;
    box-shadow: 1px 1px 1px #5D8043;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 15px;
}

#titulo{
    color: #5D8043;
    font-weight: lighter;
    font-size: 14px;
    padding: 20px 20px 5px 10px;  
}

#titulo > a{
    color: #5D8043;
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
}

#titulo > a:hover{
    color: #3B512B;
}

#pesquisa {
    display: flex;
    align-items: center;
    position: relative;
}

#pesquisa > input {
    width: 600px;
    padding: 10px 40px 10px 10px; 
    border: 1px solid #3b512b7c;
    border-radius: 20px;
    font-size: 14px;
    background-color: #f2eeac79;
    padding: 12px 22px;
    color: #5D8043;

}

#pesquisa button {
    position: absolute;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 12px 15px;
}

#pesquisa button img {
    width: 20px;
}

#logo {
    color: #5D8043;
    font-size: 25px;
    padding: 20px 20px 5px 10px;
    font-weight: bold;
    
}

#navegador{
    display: flex;
    background-color: #A7BF77;
    box-shadow: 1px 1px 1px #5D8043;
    border-top: 1px solid #5d80436c;
    padding: 10px;
}

#navegador > a {
    color: #5D8043;
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
}

#navegador > a:hover{
    color: #3B512B;
}

#fundo > h1{
    color: #5D8043;
    font-weight: bolder;
    font-size: 46px;
    margin: 40px;  
    text-align: center;

}

#fundo {
    text-align: center;
    padding: 40px 20px;
}

#blocos {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

#bloco_ad_categoria{
    height: 350px;
    width: 380px;
    background-color: #f2eeacb7; 
    border-radius: 20px;
    border: 1px solid #3b512b76;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box_cadastro_categoria {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 230px;
    width: 280px;
    border-radius: 40px;
    padding: 20px;
    text-align: center;
}

#box_cadastro_categoria > h1 {
    color: #5D8043;
    font-size: 18px;
    font-weight: 600;
    margin: 20px;
}

.botao_cadastro {
    width: 110px;
    height: 80px;
    border: none;
    border-radius: 20px;
    background-color: #E8E6C3;
    font-size: 40px;
}

.botao_cadastro:hover {
    background-color: #F4F1CC;
}

.bloco{
    height: 350px;
    width: 380px;
    background-color: #f2eeacb7; 
    border-radius: 20px;
    border: 1px solid #3b512b76;
    margin: 40px;
}

 #nome_descricao {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #5D8043;
    text-align: center;
}

#preco {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #5D8043;
    text-align: center;
}

#imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.bloco img {
    max-width: 90%;
    margin-top: 0px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

#botao_categoria {
    background-color: #5D8043;
    color: #F4F1CC;
    padding: 5px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    width: 80px;
    height: 25px;
    margin-top: 12px;  
    display: inline-block;
}

 #botao_editar, #botao_excluir{
    color: #F4F1CC;
    padding: 12px;
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    width: 100px;
    height: 35px;
}

a {
    text-decoration: none;
}

#botao_categoria, #botao_editar{
    background-color: #5D8043;
}

#botao_categoria:hover, #botao_editar:hover{
    background-color: #A7BF77;
}

#botao_excluir {
    background-color: #9B3D3D;
}

#botao_excluir:hover {
    background-color: #A74A3A;
}

#botoes_editar_excluir{
    display: flex;
    justify-content: center;
}

#botao_excluir, #botao_editar {
    margin: 5px;
} 

#mensagem {
    color: #9B3D3D;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#rodape {
    background-color: #A7BF77;
    box-shadow: 1px 1px 1px #5D8043;
    border-top: 1px solid #5d80436c;
    margin-top: 50px;
    height: 100px;
}