#titulo {
    color: #5D8043;
    font-size: 40px;
}

p {
    color: #5D8043;
    font-size: 20px;
    font-weight: 550;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #A7BF77;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    background-color: #fefcd4;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 4px 10px #00000049;
    width: 400px;
    height: 400px;
    text-align: center;
}


#box > label {
    display: block;
    margin: 30px 0px 5px;
    color: #5D8043;
    text-align: left;
    font-weight: 550;
    font-size: 20px;
}

#box > input {
    width: 100%;
    padding: 10px;
    border: 1px solid #5D8043;
    border-radius: 6px;
    background-color: #fefcd4;
    font-size: 14px;
}

#box button {
    margin: 40px;
    background-color: #5D8043;
    color: #fefcd4;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    width: 100px;
    height: 35px;
    
}

#box button:hover {
    background-color: #A7BF77;
}